

            body {max-width: 800px;
                margin: auto;
                background-color: whitesmoke;
                color: black;
                font-family: sans-serif;
                font-size: 1.1em;}
            header {margin-bottom: 1em;
                border-bottom: solid black 4px;}




